/* Planes */
.planes__conteiner-cards {
  display: flex;
  width: 95%;
  overflow: visible;
  column-gap: 14px;
}
.planes__card:first-of-type {
  margin-inline-start: auto;
}
.planes__card:last-of-type {
  margin-inline-end: auto;
}
