/* Tasas de cambio */
.tasas__contenedor-tables {
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 40px;
}
/* Servicios */
.servicios__conteiner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.servicios__caracteristica {
  margin-block-end: 0;
}
